[submodule "bin"]
	path = bin
	url = git@github.com:apes-suite/apes-bin.git
[submodule "tem"]
	path = tem
	url = git@github.com:apes-suite/tem-source.git
[submodule "aotus"]
	path = aotus
	url = git@github.com:apes-suite/aotus.git
